@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --white-font: rgb(231, 233, 234);
  --main-bg: #030407;
  --saya-blue: #4465a1;
  --saya-yellow: #dd8a06;
  --hikari-red: #8c1017;
  --white-filter: invert(100%) sepia(17%) saturate(7439%) hue-rotate(179deg)
    brightness(111%) contrast(84%);
  --jp-font: "Noto Serif JP", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--white-font);
  font-family: "Noto Serif JP", serif;
}

html {
  font-size: 62.5%; /* set rem to 10px */
}

#__next {
  min-height: 100vh;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 5rem;
}

.error-container {
  display: flex;
  margin-top: 5rem;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.error-container img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: cover;
  opacity: 0.4;
  border-radius: 1rem;
}

.notification {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  margin-top: 5rem;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.centered-container {
  margin-top: auto;
  margin-bottom: auto;
}
