@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --white-font: rgb(231, 233, 234);
  --main-bg: #030407;
  --saya-blue: #4465a1;
  --saya-yellow: #dd8a06;
  --hikari-red: #8c1017;
  --white-filter: invert(100%) sepia(17%) saturate(7439%) hue-rotate(179deg)
    brightness(111%) contrast(84%);
  --jp-font: "Noto Serif JP", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%; /* set rem to 10px */
}

body {
  font-family: "Noto Serif JP", serif;
  min-height: 100vh;
  background-color: var(--main-bg);
}
