.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form h1 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 600;
}

.field {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.field input {
  background-color: var(--main-bg);
  padding: 1rem;
  font-size: 1.5rem;
  border-color: var(--white-font);
}

@media (max-width: 425px) {
  .field {
    display: flex;
    flex-direction: column;
  }
}

.submit {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--main-bg);
  border-color: var(--white-font);
  font-weight: 500;
}
