.header {
  margin-top: 5rem;
  margin-left: 5rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-decoration: none;
}

.container {
  width: fit-content;
}

.banner span {
  display: block;
}

.romaji,
.kanji {
  font-weight: bold;
}

.romaji {
  font-size: 2rem;
}

.kanji {
  font-size: 6rem;
}
