.nav {
  position: fixed;
  top: 5rem;
  left: -5rem;
  width: 100%;
  z-index: 1;
}

.menu-button {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-image: url("/icons/menu.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  filter: var(--white-filter);
}
