.nav {
  width: 100%;
}

.menu-button {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-image: url("/icons/menu.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  filter: var(--white-filter);
}
