.nav {
  position: fixed;
  top: 5rem;
  left: -5rem;
  width: 100%;
  z-index: 1;
}

.closed {
  background-image: url("/icons/menu.svg");
}

.open {
  background-image: url("/icons/close.svg");
}

.menu-button {
  transition: background-image 0.5s ease-in;
}

.menu-button {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  border: none;
  filter: var(--white-filter);
  background-color: inherit;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 1.5rem;
}

.links a {
  text-decoration: none;
  font-weight: bold;
}
